@model IEnumerable<Bazar360.Models.ProductTypes> //--Note 1--

@{
    ViewData["Title"] = "Index";
}

<br /><br />
<div class="row">
    <div class="col-6">
        <h2  class="text-success fw-bold">Category List</h2>
    </div>
    <div class="col-6 text-end">
        <a asp-action="Create" class="btn btn-success"><i class="fas fa-plus"></i>&nbsp; New Category</a>
    </div>
</div>
<br />
<div>
    <table class="table table-striped border">
        <tr class="table-success">
            <th>
                @Html.DisplayNameFor(c => c.ProductType)
            </th>
            <th></th>
            <th></th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.ProductType</td>
              @*  ----------------------Partial View--------------*@
                <td>
                    <partial name="_ButtonPartial" model="item.Id"/>
                </td>
            </tr>
        }
    </table>
</div>

    <!-- JS for alert message -->
@section Scripts{
   
@*<script src="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/alertify.min.js"></script>*@ <!-- CDN -->

<script type="text/javascript"> 

        $(function() {

            var save = '@TempData["save"]'
            if(save!='') {
                alertify.success(save);
            }
            var edit = '@TempData["edit"]'
            if(edit!='') {
                alertify.success(edit);
            }
            var del = '@TempData["delete"]'
            if (del!='') {
                alertify.error(del);
            }


        })

</script>
}